version: '3.8'
services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URL=mongodb://mongodb:27017
      - SECRET_KEY=8c6e08bf186a1ba68f8bd81c2663f1ed0d17475cb2f50853dafd944053c886f8
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin123
    depends_on:
      - mongodb

  # --- NEW FRONTEND SERVICE ---
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      # Browser needs localhost, Server-side fetching needs container name
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend

volumes:
  mongo_data: